.validate-account-form{
    padding:1rem;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap:.5rem
}

.validate-account-form .reset{
    border: none;
    background-color: #367c36;
    padding:.7rem;
    color:white;
    border-radius: 100vh;
}