.room-interaction{
    padding:1rem;
    flex: 1;
    height: calc(100vh - 110px);
    display: grid;
    grid-template-columns: auto 350px;
    grid-template-rows: 320px auto;
    row-gap: 1rem;
    column-gap: 1rem;
    background-color: #dbdbdf56;
}

.chat-room{
    grid-row: 1 / 3;
    background-color: white;
    border-radius: 10px;
    padding:1rem 1rem 5px 1rem;
}

.participants{
    background: white;
    border-radius: 10px;
    padding-inline: 1rem;
    height: 100%;
    overflow-y: auto;
}

.participants .header{
    display: flex;
    align-items: center;
}

.audio-component{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.chat-room{
    display: flex;
    flex-direction: column;
    gap:.7rem;
    overflow-y: hidden;
}

.chat-room .messages{
    max-height: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-block: .5rem;
    overflow-y: auto;
    flex: 1;
}

.send-message-form{
    display: flex;
    padding:.5rem .7rem;
    border-radius: 100vh;
    background-color: #dbdbdf56;
}


.send-message-form button{
    border: none;
    background-color: transparent;
}

.send-message-form button img{
    width: 25px;
}

.send-message-form .send-message-input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
}

.audio-component{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}

.video-container{
    height: 100%;
}

.controls{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    gap:.5rem;
    align-items: center;
}

.control-btn{
    border: none;
    background-color: #b8b8b9f3;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    border-radius: 50%;
}

.control-btn img{
    width: 100%;
}

.control-btn.stop{
    background-color: red;
    border-radius: 7px;
    width: 40px;
    height: 40px;
}