.list-organization{
    max-height: 500px;
}

.list-organization .head{
    background-color: #636369;
    margin-top: .5rem;
    border-radius: 10px 10px 0 0;
    padding:.75rem 1rem;
    justify-content: flex-end;
    display: flex;
}

.search-organization{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 100vh;
    padding:5px 10px;
    background-color: #adadad;
    flex: 1;
    max-width: 500px;
}

.search-organization img{
    height: 15px;
}

.search-organization input{
    border: none;
    background-color: transparent;
    flex: 1;
    outline:none;
    color:rgb(63, 63, 63);
    font-size: 12px;
}

.list-organization .organizations{
    border: 1px solid #d3d3d3;
    border-top:none;
    display: flex;
    flex-direction: column;
    max-height: 430px;
    overflow-y: auto;
    gap:0;
}

.list-organization .organization-list-item{
    padding: .6rem 1rem;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.list-organization .organization-list-item:hover{
    background-color: #d3d3d3;
}

.list-organization .organization-list-item .organization-name{
    text-decoration: none;
    color: #636369;
}

.list-organization .organization-list-item .organization-name:hover{
    text-decoration: underline;
    color: #0367c5;
}